# Subscription
subscription_id = "my-subscription-id"

# Company
company      = "MyCompany"
project_code = "pc001"
billing_code = "bc001"

# Database
database_user = "myuser"
database_pass = "mypass"
